html {
  font-family: Rajdhani, Orbitron, Yanone Kaffeesatz, sans-serif;
}

header {
  height: 100vh;
  border: 3px solid red;
}

.header__img {
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  margin: 20px auto;
}
